<head>
  <title>manchester.meteor.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<template name="home">
  <h1>
  	<a href="/">
  		<img class="img-responsive" src="http://photos4.meetupstatic.com/photos/theme_head/e/9/c/c/full_6479852.jpeg">
  	</a>
  	<span class="hidden">Meteor.js Manchester</span>
  </h1>
  <h2 class="text-center">Placeholder project for Meteor.js Manchester Meetup members.</h2>
  <h3 class="text-center">
  	<a href="http://www.meetup.com/Meteor-Manchester/">Visit our meetup page</a>
	  or
	  <a href="https://github.com/meteorjsman/manchester.meteor.com">check the source</a>
	</h3>
	<h3 class="text-center">We meet the second Wednesday of every month at <a href="http://madlab.org.uk/">Madlab</a></h3>
</template>

